/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of css reset*/
body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	/*background-color: #7392B7;*/
	color:white;
	height: 100%
}

h1 {
	font-weight: 900;
	font-size: 200%;
	position:absolute;
	bottom:0;
	left:20%;
	letter-spacing: 2px;
}

a {
	font-weight: 100;
	text-decoration: none;
	/*color: white;*/
	letter-spacing: 2px;
}

.fa-stack-1x {
	/*color:#0673FA;*/
}
.bar {
	height: 6px;
	display: block;
}

#bar0 {
	background-color: #F0386B;
}

#bar1 {
	background-color: #FF5376;
}

#bar2 {
	background-color: #F8C0C8;
	/*background-color: #F8C0C8;*/
}

#self {
	position: absolute;
	bottom: 0;
	left:0;
	height:50%;
}

#left {
	width: 50%;	
	background-color: #0673FA;
	height: 100%;
}

#right {
	width: 50%;
	height: 100%;
}


